* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 background: #33323225;
 }

 body {
 display: flex;
 justify-content: center;
 align-items: center;
 min-height: 100vh;
 background-image: url(./9793.jpg);
 
}


::placeholder{
color: #000;
}
.contenedor {
  width: 35%;
  height: 50vh;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #949292cb,
              -5px -5px 5px #ac8585cb;
  
  backdrop-filter: blur(2px);
}



 .display #pantalla {
 background: #f5f3f3cb;
 padding-right: 5px;
 margin: 0 auto;
 width: 99%;
 height: 5.4vh;
 align-items: center;
 font-size: 2rem;
 outline: none;
 border: none;
 text-align: right;
 border-radius: 4px;
 box-shadow:  inset 3px 3px 3px #9c9a9a,
              inset -3px -3px 3px #9c9a9a;
 }

 .btns {
 width: 100%;
 margin-top: 1.5rem;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;

 }


.btns .fila button {
 width: 80px;
 height: 50px;
 border-radius: 4px; 
 background: rgba(255, 255, 255, 0.05);
 backdrop-filter: blur(15px);
 }
 
 button {
 font-size: 1.5em;
 color: #fff;
 
 }

 span {
 position: relative;
 bottom: .4em;
 right: .1em;
 font-size: .8em;
 }